:root {
  --header-bg: #fff;
  --text: #000;
  --active: #00acdc;
  --underline-h: 4px;
  --underline-w: 37px;
  --nav-height: 60px;
  --container-pad: 50px;
  --normalweight: 400;
  --boldweight: 700;
}
